/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}

html {
    scroll-behavior: smooth; 
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.container-header{
    height: 90px;
    background: url(assets/img/jpg/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex;
    justify-content: flex-end;
    
}

.nav{
    margin-left: auto;
    margin-right: 15px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0px 15px;
    line-height: 50px;
    text-decoration: none;
    color: white;
}

.switch-language {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.switch-gold {
    text-decoration: none;
    color: #bdae82;
}

.switch-white {
    text-decoration: none;
    color: white;
}

.switch-separator {
    padding: 0px 9px;
}

.container-main {
    padding: 0px;
    background-color: black;
}

.section-hero {
    height: 820px;
    background: url(./assets/img/jpg/bg.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;
}

.section-hero-text {
    height: 330px;
    width: 500px;
    padding-top: 160px;
    padding-left: 60px;
}

.hero-text {
    padding-bottom: 15px;
}

.section-hero-title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
}

.button {
    height: 55px;
    width: 220px;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
}

.button-colored {
    background-color: #bdae82;
    transition: 0.3s;
}

.button-bordered {
    color: #bdae82;
    background-color: black;
    border: #bdae82 1px solid;
    transition: 0.3s;
}

.button-bordered:hover {
    color: white;
}

.button-colored:hover {
    color: white;
}

.button-transparent {
    background-color: transparent;
}

.section-skills {
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title-wrapper {
    padding-top: 100px;
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    display: flex;
    justify-content: center;
}

.section-title {
    padding: 0 20px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
    background-color: black;
}

.skills-items {
    padding: 0 20px;
    width: 100%;
}

.skills-list {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.skills-item {
    width: 320px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inter-normal-18 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.inter-bold-20 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.section-portfolio {
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-buttons-list {
    padding-top: 60px;
    display: flex;
}

.portfolio-items {
    padding: 60px 20px 0;
    height: 1145px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.portfolio-item {
    height: 560px;
    width: 450px;
}

.section-video {
    height: 945px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-player-wrapper {
    padding-top: 60px;
}

.video-player {
    height: 705px;
    width: 1400px;
    background-image: url(./assets/img/jpg/video-player.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price-items {
    padding: 60px 20px 0;
    height: 845px;
}

.price-list {
    display: flex;
    gap: 25px;
}

.price-item {
    gap: 20px;
    height: 505px;
    width: 450px;
    border: #bdae82 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.gold-text {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
}